/************ base_m ************/
/*全局变量*/
* { -webkit-text-size-adjust: none }
html { overflow-y: scroll }
html, body { text-align: left }
body, input, textarea, select, button { font: 14px "Microsoft YaHei", Verdana, arial, sans-serif; line-height: 22px; }
input, textarea, select, button { vertical-align: middle }
body, ul, ol, li, dl, dd, p, h1, h2, h3, h4, h5, h6, form, fieldset, table { margin: 0; padding: 0 }
table { border-collapse: collapse; border-spacing: 0 }
img { vertical-align: middle; border: 0 }
h1, h2, h3, h4, h5, h6 { font-size: 1em }
ul, dl { list-style: none }
a { outline: none; text-decoration: none; cursor: pointer; color: #448FF4; blur:expression(this.blur())}
a:hover { outline: none; text-decoration: underline }
.wfull { clear: both; margin: auto; width: 100% }
.clear { clear: both; font-size: 0; line-height: 0; height: 10px }
.box { clear: both; height: 0px }
*html .box { display: inline; clear: both }
.fontblue { color: #317ee7 !important }
.fontred { color: #F00 !important }
.fontorange { color: #f26100 !important }
.relative { position: relative; }
/*常用样式简写*/
.fl { float: left }
.fr { float: right }
.hide { display: none }
.mt5px_ie6 { _margin-top: 5px }
.mt6px_ie6 { _margin-top: 6px }
.mt10px { margin-top: 10px }
.mb10px { margin-bottom: 10px }
.mr10px { margin-right: 10px }
.p5px { padding: 5px }
.p10px { padding: 10px }
.pt10px { padding-top: 10px }
.p20px { padding: 20px }
.pl10px { padding-left: 10px }
.pl40px { padding-left: 40px }
.pl5em { padding-left: 5em }
.t2em { text-indent: 2em }
.hidden { display: none }
.hide_word { text-indent: -65535px; overflow: hidden }
.pointer { cursor: pointer }
.yahei { font-family: "Microsoft YaHei", arial, sans-serif }
/*字体样式*/
.font12px { font-size: 12px }  .font14px { font-size: 14px }  .font16px { font-size: 16px }  .fontnormal { font-weight: normal }
/*头部*/
.menu-top { position: absolute; top: 0px; right: 10px; z-index: 10; line-height: 32px; height: 32px; color: #90bfff }
.menu-top a { color: #333 }
.header { z-index: 9; position: relative }
.sub-header { height: 87px }
.logo { float: left; height: 80px; width: 180px; margin-top: 8px }
.sub-logo { float: right; height: 35px; width: 90px; margin-top: 2px }
.top468-60 { z-index: 9; float: left; height: 92px; width: 300px; text-align: center; overflow: hidden }
#frame_logout { position: absolute; left: -1000px }
.top-float-tips1 { position: absolute; top: 30px; right: -40px; padding: 10px 10px 0; width: 125px; height: 43px; line-height: 18px; color: #f26100; background: url("http://cdn.kuaidi100.com/images/bg_tips_box.png") 3px 0px no-repeat; }
.top-float-tips1 a { color: #f26100 }
.top-float-tips2 { position: absolute; z-index: 13; top: 33px; left: 80px; padding: 4px 0 4px 20px; width: 147px; height: 18px; line-height: 18px; color: #f26100; background: url("http://cdn.kuaidi100.com/images/bg_tips_box.png") 0 -74px no-repeat }
.top-float-tips2 a { color: #f26100 }
/*斜角框*/
.div-border { padding: 10px; border: 1px solid #8FBFFF; }
.div-title { padding-bottom: 10px; height: 20px; text-align: left; font-size: 18px; font-weight: normal; color: #448EF1 }
.div-border p { color: #0F6B99 }
.div-barlist p a { color: #787878 }
/*按钮通用*/
a.btn-default { display: block; line-height: 29px; padding: 5px 10px; text-align: center; height: 29px; width: 82px; font-size: 14px; font-weight: bold; text-decoration: none; background-color: #317EE8; color: #FFF }
a.btn-default:hover, a.btn-default:active, a.btn-default:focus { text-decoration: none; background-color: #8FBFFD }
a.btn-none { display: block; line-height: 29px; padding: 5px 10px; vertical-align: middle }
/*确认框"确定和取消"按钮*/
.btn-ok { display: inline-block; margin-right: 10px; width: 56px; height: 28px; line-height: 28px; text-align: center; color: #FFF; border: none; background-color: #81BE01 }
.btn-cancel { display: inline-block; width: 56px; height: 28px; line-height: 28px; text-align: center; color: #fff; border: none; background-color: #81BE01 }
a.btn-ok:hover, a.btn-cancel:hover { color: #FFF }
/*metro按钮*/
.inp-metro { width: 414px; height: 30px; line-height: 30px; vertical-align: middle; padding: 4px 8px; font-size: 18px; color: #333; border: 1px solid #BCBCBC }
.inp-metro:hover, #moreComStr:hover, .inp-send:hover, .inp-send2:hover { border: 1px solid #b9b9b9; border-top: 1px solid #a0a0a0; -webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,0.1); -moz-box-shadow: inset 0 1px 2px rgba(0,0,0,0.1); box-shadow: inset 0 1px 2px rgba(0,0,0,0.1) }
.inp-metro:focus, #moreComStr:focus, .inp-send:focus, .inp-send2:focus { outline: none; border: 1px solid #6ca8fa; -webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,0.3); -moz-box-shadow: inset 0 1px 2px rgba(0,0,0,0.3); box-shadow: inset 0 1px 2px rgba(0,0,0,0.3) }
.btn-query { display: inline-block; padding: 0; width: 148px; height: 40px; line-height: 40px; overflow: hidden; vertical-align: middle; text-indent: -65535px; cursor: pointer; border: none; background: url("http://cdn.kuaidi100.com/images/btn_metro.png") 0 0 no-repeat }
input.btn-query:hover, a.btn-query:hover { background: url("http://cdn.kuaidi100.com/images/btn_metro.png") -152px 0 no-repeat }


/************* index *************/
.tips-old { position: relative; z-index: 10; }
.tips-old div { position: absolute; z-index: 12; top: 0px; right: -6px; width: 85px; height: 92px; background: url("http://cdn.kuaidi100.com/images/tips_old.png") -415px 0 no-repeat #fff; }
.tips-old a { position: absolute; right: 10px; top: 0px; width: 70px; height: 55px; }
.container { position: relative; background: url("http://cdn.kuaidi100.com/images/bg_new.png") center 0 no-repeat; }
.section { width: 610px; margin: 0 auto; padding-top: 90px; min-height: 430px; _height: 430px; }
.search-box { position: relative; z-index: 5; }
.search-box .inp-metro { padding: 9px 8px; width: 464px; height: 24px; line-height: 24px; font-size: 16px; border: 1px solid #448ef3; }
.search-box .btn-query { width: 128px; height: 44px; line-height: 44px; font-size: 18px; text-indent: 60px; color: #fff; background: url("http://cdn.kuaidi100.com/images/ico_index.png") 13px -551px no-repeat #448ef3; }
.search-box a.btn-query:hover { text-decoration: none; background: url("http://cdn.kuaidi100.com/images/ico_index.png") 13px -551px no-repeat #2682ff; }
.input-tips { position: absolute; top: 44px; left: 0px; display: none; padding-top: 10px; width: 480px; border: 1px solid #BCBCBC; background-color: #fff; }
.input-tips li.selection { padding-left: 10px; width: 470px; line-height: 2em; font-size: 16px; font-weight: bold; overflow: hidden; cursor: pointer; transition: color 0.2s linear, background-color 0.2s linear; -webkit-transition: color 0.2s linear, background-color 0.2s linear; -moz-transition: color 0.2s linear, background-color 0.2s linear; }
.input-tips li.selection0 { color: #333; }
.input-tips li.selection1 { color: #777; }
.input-tips li.selection2 { color: #b4b4b4; }
.input-tips li.selection3 { color: #d1d1d1; }
.input-tips li.hover { color: #333333; background-color: #fff2c5; }
.input-tips li.tips_bottom { padding: 2px 5px; text-align: right; color: #b4b4b4; }
.btn-location { position: absolute; top: 7px; left: 445px; display: block; width: 30px; height: 30px; background: url("http://cdn.kuaidi100.com/images/ico_index.png") -10px -110px no-repeat #fff; }
.add-btn { margin-left: 50px; padding-left: 20px; background: url("http://cdn.kuaidi100.com/images/ico_index.png") -15px -613px no-repeat; }
/*select*/
.select-com { margin-top: 120px; margin-left: 120px; padding-left: 7px; height:46px; font-size: 14px; font-weight: bold; }
.select-com a#selectComBtn { padding-right: 24px; cursor: pointer;}
.select-com span { margin-right:58px; padding: 2px 0px 2px 24px; }
.select-com .ico-tel { background: url("http://cdn.kuaidi100.com/images/ico_index.png") -10px -413px no-repeat; }
.select-com .ico-clock { background: url("http://cdn.kuaidi100.com/images/ico_index.png") -10px -463px no-repeat; }
.select-com .ico-date { background: url("http://cdn.kuaidi100.com/images/ico_index.png") -10px -513px no-repeat; }
.select-com span.download-qr { margin-right: 0px; }
.select-com span.download-qr img { position:absolute; top: -5px; right: -125px; }
/*result*/
.result-top { width: 778px; height: 43px; background-color: #fbfbfb; border: 1px solid #90bfff; border-bottom: none; }
.result-top span, .result-top a { display: inline-block; height: 43px; line-height: 43px; vertical-align: middle; font-size: 14px; }
.result-top a { padding-left: 23px; width: 37px; font-weight: bold; color: #448ef3; }
.result-top .a-rss { background: url("http://cdn.kuaidi100.com/images/ico_index.png") -15px -303px no-repeat; }
.result-top .a-share { background: url("http://cdn.kuaidi100.com/images/ico_index.png") -12px -353px no-repeat; }
.result-top .col1 { width:202px; text-align: center; font-weight: bold; border-right: 1px solid #ddd; color: #333; }
.result-top .col2 { width: 303px; text-align: center; font-weight: bold; color: #333; }
.result-info2 { width: 610px; border-top: 1px solid #ddd; }
/*notfind*/
.notfind { padding: 10px 20px; border: 1px solid #dfdfdf; background-color: #fbfbfb;}
.notfind-body { background: url("../images/logistics_auto_ico.png") 0px 5px no-repeat; }
.notfind-icon { padding-bottom: 10px; font-size: 18px; line-height: 1.8em; text-align: center; color: #ff7f02; border-bottom: 1px dashed #ddd; background: url("../images/logistics_auto_ico.png") 165px -113px no-repeat; }
.notfind-ul { padding-top: 15px; padding-left: 50px; }
.notfind-ul li { float: left; width: 200px; padding-left: 50px; color: #333; }
.notfind-taobao { margin: 20px auto 10px; padding-left: 50px; width: 230px; background: url("http://cdn.kuaidi100.com/images/user/ico_taobao/tt.png") 0 1px no-repeat; }
.ico_wrong { background: url("../images/logistics_auto_ico.png") 0px -210px no-repeat; }
.ico_right { background: url("../images/logistics_auto_ico.png") 0px -160px no-repeat; }
/*common*/
.close-box { position: relative; width: 608px; border: 1px solid #d4d4d4; }
.close-box .close-btn { position: absolute; z-index: 3; top: -10px; right: -10px; display: block; width: 20px; height: 20px; background: url("http://cdn.kuaidi100.com/images/ico_index.png") -15px -66px no-repeat; }
.common-box { margin-top: 30px; height: 260px; border: 1px solid #448ef3; background-color: #fff; }
.common-tag { position: relative; height: 37px; }
.common-tag a { position: absolute; top: -1px; width: 121px; height: 36px; line-height: 36px; text-align: center; font-size: 14px; color: #333; border: 1px solid #d4d4d4; border-bottom: 1px solid #448ef3; }
.common-tag .tag-select { z-index: 2; height: 34px; line-height: 32px; color: #448ef3; border: 1px solid #448ef3; border-top: 4px solid #448ef3; border-bottom: 0; }
.common-tag .tag-1 { left: -1px; }
.common-tag .tag-2 { left: 121px; }
.common-tag .tag-3 { left: 243px; }
.common-tag .tag-4 { left: 365px; }
.common-tag .tag-5 { left: 487px; width: 120px; }
.common-box .common-list { padding: 15px 0 0 30px; }
.common-box .common-list h4 { padding-left: 20px; height: 28px; line-height: 28px; font-size: 14px; color: #f11; background: url("http://cdn.kuaidi100.com/images/ico_index.png") -15px -10px no-repeat; }
.common-box .common-list h4 em { font-style: normal; }
.common-box .common-list p { padding: 5px 0; height: 22px; line-height: 22px; }
.common-box .common-list a { display: inline-block; margin-right: 10px; padding-left: 24px; width: 60px; font-size: 14px; vertical-align: middle; color: #333; }
.common-box .common-net { margin-top: 20px; }
.common-box .common-net a { width: 120px; overflow: hidden; text-overflow: ellipsis; white-space: nowrap; }
.common-box .common-list label { display: inline-block; padding-left: 24px; width: 80px; font-size: 14px; vertical-align: middle; }
.common-box .common-list span { display: inline-block; width: 110px; margin-right: 60px; font-size: 14px; vertical-align: middle; }
.common-box .common-list a.a-blue { margin-right: 30px; padding: 0; width: 78px; text-align: center; color: #fff; background-color: #448ef3; }
.common-box .common-list a.a-blue:hover { text-decoration: none; background-color: #2682ff; }
.common-box .common-eb { float:left; padding: 15px 50px 0 20px; text-align: center; }
.common-box .common-eb h5 { padding-bottom: 10px; font-size: 18px; color: #333; }
.common-box .common-eb a { padding-top: 90px; padding-left: 0; margin-right: 0; width: 100px; text-decoration: underline; font-size: 14px; color: #333; }
.common-box .common-eb a:hover { color: #448ef3; }
.common-box .common-eb a.a-tb { background: url("http://cdn.kuaidi100.com/images/ico_circle.png") center -5px no-repeat; }
.common-box .common-eb a.a-api { background: url("http://cdn.kuaidi100.com/images/ico_circle.png") center -155px no-repeat; }
.common-box .common-eb a.a-kis { background: url("http://cdn.kuaidi100.com/images/ico_circle.png") center -305px no-repeat; }
.common-box .common-eb strong { margin:0 10px; font-size:16px; }

/******* query ******/
/*查询结果框*/
.result-info2{width:780px;border:1px solid #90bfff}
.result-info2 td{padding:10px;color:#878787;border-bottom:1px solid #d8d8d8;background-color:#fbfbfb; }
.result-info2 .status{width:30px;background:url("../images/logistics_status_ico.gif") -50px center no-repeat #fbfbfb}
.result-info2 .status{width:30px;background:url("../images/logistics_status_ico.gif") -50px center no-repeat #fbfbfb}
.result-info2 .status-first{background:url("../images/logistics_status_ico.gif") 0px center no-repeat #fbfbfb}
.result-info2 .status-check{background:url("../images/logistics_status_ico.gif") -150px center no-repeat #fbfbfb}
.result-info2 .status-wait{background:url("../images/logistics_status_ico.gif") -100px center no-repeat #fbfbfb}
.result-info2 .last td{color:#FF8c00;border-bottom:none;background-color:#ffffff;font-size:15px }
.result-info2 .row1{width:158px;text-align:right;}

#queryContext{margin-left: 150px;}
